version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - .env
    volumes:
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5


  grpc-server:
    build: ./server
    container_name: grpc-server
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "50051:50051"

  api-gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    container_name: api-gateway
    depends_on:
      - grpc-server
    ports:
      - "5000:5000"

  frontend:
    build: ./client/library-ui
    container_name: frontend
    depends_on:
      - api-gateway
    ports:
      - "5173:5173"
